.custom-cards-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}


.custom-card {
  flex: 0 0 auto;
  min-width: 320px;
  max-width: 350px;
  scroll-snap-align: start;
}

.scroll-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  height: fit-content;
  margin: 0 0.5rem;
}
/* #scrollContainer {
  border: 2px dashed red;
}
.scroll-btn {
  border: 2px solid blue;
} */